<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
	<Product Id="fe4fb4fc-007a-4d54-88d8-f095adf4d033" Name="Fusion Factory - Flow Utilities" Language="1033" Version="1.0.1" Manufacturer="Fusion Factory PTY LTD" UpgradeCode="8eb8d438-5d49-4e98-9f3f-af481a8978fe">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Utility methods to be used from within Flow Software (http://flowsoftware.co.nz)" Comments="This package will install .NET DLL and register it to be used by Flow Software and other tools that can call COM components" Manufacturer="Fusion Factory PTY LTD" />
		<!--MediaTemplate /-->
		<Media Id="1" EmbedCab="yes" Cabinet="FlowUtilities.cab" CompressionLevel="high" />

		<!--PROPERTIES-->
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<UIRef Id="WixUI_InstallDir" />
		<PropertyRef Id="NETFRAMEWORK45"/><!--That can run on Vista SP2, 7, 8, 2008 SP2, 2008 R2 SP1, 2012. The app should be compiled for 4.5 to run on computers with .NET 4.5, 4.5.1, 4.5.2, 4.6-->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<Property Id="WINED" Secure="yes"><RegistrySearch Id="WindowsEditionReg" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="EditionID" Type="raw" /></Property>
		<Property Id="WINTYPE" Secure="yes"><RegistrySearch Id="WindowsEditionType" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="InstallationType" Type="raw" /></Property>

		<!--UI-->
		<Icon Id="icon.ico" SourceFile="FusionFactoryIcon.ico"/>
		<!--WixVariable Id="WixUIBannerBmp" Value="FusionFactoryIcon128.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="FusionFactoryIcon128.bmp" /-->
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />


		<!--INITIAL CHECKS-->
		<MajorUpgrade DowngradeErrorMessage="A newer version of FlowUtilities.dll is already installed." />
		<Condition Message="This application is only supported on Windows Server 2008 and higher, or Win8 Professional or higher.">
      <![CDATA[(VersionNT>=600 AND MsiNTProductType=1) OR (VersionNT>=600 AND MsiNTProductType<>1)]]><!--<![CDATA[Installed OR (VersionNT>=600 AND WINTYPE~="Server") OR (VersionNT>=600 AND (WINTYPE~="Server" OR WINED~="Professional"))]]>-->
		</Condition>
		<Condition Message="This application requires .NET Framework 4.5, 4.5.1, 4.5.2 or 4.6. Please install the .NET Framework then run this installer again.">
				<![CDATA[Installed OR NETFRAMEWORK45]]>
		</Condition>

		<Feature Id="ProductFeature" Title="FlowUtilitiesSetup" Level="1" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<InstallExecuteSequence>
			<!--Custom Action='comReg' After='InstallFinalize'>NOT INSTALLED</Custom-->
      <!--InstallFinalize is the event when the files had been copied-->
      <Custom Action='CA.RegisterDLL' After='InstallFinalize'>NOT REMOVE="ALL"</Custom>
      <Custom Action='comUnreg' Before='RemoveFiles'>REMOVE="ALL"</Custom> 
		</InstallExecuteSequence>

		<!--CustomAction Id='comReg' Directory='INSTALLFOLDER' ExeCommand='"[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\regasm.exe" /codebase "[INSTALLFOLDER]FlowUtilities.dll"' Return='check' /-->
		<CustomAction Id="CA.RegisterDLL" BinaryKey="binHelper" Execute="immediate" DllEntry="RegisterDLL" />
    <CustomAction Id='comUnreg' Directory='INSTALLFOLDER' ExeCommand='"[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\regasm.exe" /u "[INSTALLFOLDER]FlowUtilities.dll"' Return='check' />

    <Binary Id="binHelper" SourceFile="$(var.FlowUtilitiesCustomActionsLibrary.TargetDir)FlowUtilitiesCustomActionsLibrary.CA.dll" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="FusionFactory" Name="FusionFactory" >
					<Directory Id="INSTALLFOLDER" Name="FlowUtilities" />
				</Directory>
			</Directory>
      <Directory Id="ProgramDataFolder" Name="ProgramData">
        <Directory Id="Flow" Name="Flow">
          <Directory Id="Script" Name="Script"/>
        </Directory>
      </Directory>
		</Directory>

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="BinComponent" Guid="{9c53e151-a67b-44de-bf2d-b80b266b6f15}">
				<File Id="FlowUtilities.pdb" Source="$(var.FlowUtilities.TargetDir)FlowUtilities.pdb" />
				<File Id="FlowUtilities.XML" Source="$(var.FlowUtilities.TargetDir)FlowUtilities.XML" />
        <File Id="FlowUtilities.dll" Source="$(var.FlowUtilities.TargetDir)FlowUtilities.dll" />
        <File Id="FlowUtilities.inc" Source="$(var.SolutionDir)\Script\FlowUtilities.inc">
          <CopyFile Id="Includes" DestinationDirectory="Script"/>
        </File>
        <!--File Id="FlowUtilitiesInitializationTest.vbs" Source="..\FlowUtilities\bin\Debug\FlowUtilitiesInitializationTest.vbs" /-->
			</Component>
		</ComponentGroup>
	</Product>
</Wix>